body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#titleWrapper {
  width: 80%;
  display: flex;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 30px auto;
  width: 80%;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

#createNotification {
  background: rgba(196, 15, 97, 1);
  border-radius: 10px;
  width: 200px;
  height: 55px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
}

.container {
  width: 80%;
  margin: 60px auto 350px;
  background: linear-gradient(0deg, #d9d9d9, #d9d9d9),
    linear-gradient(0deg, #ffffff, #ffffff);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 4px solid white;
  padding: 8px;
  text-align: center;
  background-color: lightgrey;
}

#description {
  text-align: justify;
}

#btnEdit,
#btnDelete {
  background-color: transparent;
  border: none;
  margin-top: 2px;
}

#modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#msgDialog {
  visibility: visible;
  background: rgba(0, 0, 0, 0.8);
  width: 350px;
  height: 200px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  border-radius: 50px;
}

#message {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

#btnOK {
  width: 180px;
  height: 50px;
  color: #ffffff;
  background: #c40f61;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 30px;
}
